aiohttp==3.9.3
Bio==1.8.0
biopython==1.85
graspologic==3.4.1
jsonlines==4.0.0
langchain_community==0.3.27
langchain_openai==0.3.30
langchain_text_splitters==0.3.9
langchain_together==0.3.1
liquid==0.0.1
networkx==3.2.1
numpy==2.3.2
ollama==0.5.3
openai==1.99.9
pydantic==2.11.7
scikit_learn==1.7.1
tenacity==8.5.0
tiktoken==0.7.0
torch==2.7.1+cu128
tqdm==4.66.2
transformers==4.45.2
